@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,800&family=Shantell+Sans:wght@800&display=swap");

:root {
  --main-bg-color: rgb(186, 255, 159);
  --font1: "Shantell Sans", cursive;
  --font2: "Roboto Serif", serif;
}

.font1 {
  font-family: var(--font1);
}

.font2 {
  font-family: var(--font2);
}

.max-width-1 {
  max-width: 80vw;
}

.max-width-2 {
  max-width: 60vw;
}

.m-auto {
  margin: auto;
}

.my-2{
  margin-top: 12px;
  margin-bottom: 12px;
}

.btn {
  padding: 4px 10px;
  border: 3px solid black;
  border-radius: 10px;
  font-family: var(--font1);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  /* color: white; */
  background: var(--main-bg-color);
}

.form-input {
  padding: 2px 5px;
  font-size: 16px;
  border: 3px solid black;
  border-radius: 4px;
  margin: 5px 13px;
  font-family: var(--font2);
}
